<section id="content">
	<article id="home">
		<div class="photo-container"><%= image_tag 'photo.jpg' %></img>
		</div>
		<h1> Welcome! </h1>
		<p>
			Hi there. I'm Diogo Castro and this is my personal website. Here you'll find information about me, including my education, interests and work experience. Use the navigation bar to get around.
		</p>
	</article>

	<article id="about">
		<h1> About me </h1>
		<p>
			I'm Diogo Filipe Azevedo de Castro and I was born on January 2nd, 1989 in Porto. I'm 24 years old and I have just completed my <a href="https://www.fe.up.pt/si_uk/CURSOS_GERAL.FORMVIEW?P_CUR_SIGLA=MIEIC" target="_blank"><strong>Master's Degree in Informatics and Computing Engineering</strong></a> at <a href="https://www.fe.up.pt/si_uk/web_page.inicial" target="_blank">Faculty of Engineering, University of Porto</a>, Portugal.
		</p>
		<a class="button readmore"> Read More...</a>
		<p>
			Since a young age, I have always had an interest in understanding how things work and how little pieces fit together and cooperate. I distinctly remember spending hours playing with Legos, disassembling my Playstation and my controllers, putting everything back together... When asked what I wanted to be in the future, I didn't know for sure, but I would say perhaps an architect, I just knew I wanted to <strong>create</strong> and <strong>invent</strong>.
		</p>

		<p>
			When I had my first computer, some friends and I began to disassemble/assemble it and upgrade hardware.
			I also remember building <strong>my first website</strong> about music and movies with Dreamweaver. At about the age of 15, curiosity led me to write <strong>my first scripts</strong> with <a href="http://www.autoitscript.com/site/autoit/" target="_blank">AutoIt</a>. I still use some of these scripts on occasion, such as a movie subtitle fixer.
		</p>

		<p>
			This was when I knew what I wanted to study and so, at the age of 18, I went to college to study Informatics and Computing Engineering. There, I gathered an ample set of technical/social proficiencies that I've been perfecting and will continue to do so.
		</p>

		<p>
			In my free time, I like listening to <strong>music</strong> (mostly Rock) and watch <strong>TV series/movies</strong>, but most of all, I like to <strong>hang out with my girlfriend and friends</strong>.
		</p>
	</article>

	<article id="education">
		<h1>Education & Areas of Interest</h1>

		<p>
			In 2007, at the age of 18, I joined FEUP in the Master in Informatics and Computing Engineering. I completed this degree in February 2013 with the academic average of 15 out of 20 (grade B on the European grading scale).
		</p>

		<p>
			I have acquired skills in a large variety of fields, such as project management and Software Engineering (mainly <strong>Agile Development Methodologies</strong>), in which I take a very special interest.
			I also have experience in <strong>Mobile Computing technologies</strong>, such as Android SDK and iOS.
			I'm well versed in <strong>web development</strong> and I've used technologies/frameworks such as Ruby on Rails and PHP.
		</p>
		<p>
			Recently I've taken interest in <strong>front-end development</strong>, particularly <strong>HTML(5)</strong>, <strong>CSS(3)</strong> and, most of all, <strong>responsive design</strong> - which you may have already noticed if you're reading this from your smartphone or tablet ;). I'm proficient with jQuery, CoffeeScript and CSS pre-processors such as SASS.
		</p>
		<p>
			Other areas worth mentioning include object/aspect oriented programming, algorithms, distributed systems, logic programming (Prolog), artificial intelligence, information systems, database technologies and information storage/retrieval technologies (e.g. Apache Lucene).
		</p>

		<p>
			I strongly value <strong>innovation</strong>, <strong>creativity</strong> and <strong>teamwork</strong>.
		</p>

		<p>
			You can find my <strong>Curriculum Vitae </strong><a href="http://paginas.fe.up.pt/~ei07171/DiogoCastroCV.pdf">here</a>.
		</p>
	</article>

	<article id="projects">
		<h1>Projects</h1>
		<p>
			Read about some of my projects:

			<ul>
				<li>
					<a class="anchorLink" href="#projects-mywine">myWine</a>
				</li>
				<li>
					<a class="anchorLink" href="#projects-metro-tasks">MetroTasks</a>
				</li>
				<li>
					<a class="anchorLink" href="#projects-thesis">Master's Thesis</a>
				</li>
			</ul>
		</p>
	</article>

	<article id="projects-mywine" class="project">
		<div>
			<h1>myWine</h1>

			<p>
				In 2012, I was Chief Architect and developer in a team of 5 who developed myWine, an iOS 5.1 application for iPad.
				The app allows wine tasters to take notes of their tastings, to compare wines effortless and to sync all their records to a backend server.
			</p>
			<p>
				The project was carried out at the request of <a href="http://www.cpcis.pt/sites/CPCIS/Portugues" target="_blank">CPC.IS</a>, active in the information technology sector.
			</p>
		</div>
		<div class="album-cover-container" data-count="3" data-album="mywine">
			<%= image_tag 'mywine/1thumb.png' %>
		</div>
	</article>

	<article id="projects-metro-tasks" class="project">
		<div>
			<h1>Metro Tasks</h1>
			<p>
				Metro Tasks is a productivity application for Windows 8 / Windows RT thats helps you keep track of your todo's.
			</p>
			<p>
				Write them down, schedule them, keep them organized, and the live tile updates will make sure you get things done.
				The app features synchronization with Google Tasks, <i>type to search</i>, tile and lock screen updates.
			</p>
			<p>
				Metro Tasks was developed using C# and the .NET 4.5 framework for Windows Store Apps.
				If you are on Windows 8, you can get it at the Windows Store or <a href="ms-windows-store:PDP?PFN=21195DiogoCastro.MetroTasks_waqtkecxwwjbg">here</a> (Firefox/Internet Explorer). Otherwise, you can find it <a href="http://apps.microsoft.com/windows/en-GB/app/metrotasks/480f3e5b-76da-4313-a0b7-feabe70729de" target="_blank">here</a>.
			</p>
		</div>
		<div class="album-cover-container" data-count="5" data-album="metro-tasks">
			<%= image_tag 'metro-tasks/1thumb.png' %>
		</div>
	</article>

	<article id="projects-thesis">
		<h1>Master's Thesis</h1>
		<p>
			In 2012/2013, I wrote my Master's Thesis, entitled "Improving pedestrian navigation for older adults and persons with mild dementia through landmarks", at <a href="http://www.fraunhofer.pt/en/" target="_blank">Fraunhofer Portugal</a>.
			In it, I studied how both current and emerging navigation systems guide users towards their goal.
			I also developed the navigation module for <a href="http://alznav.projects.fraunhofer.pt/" target="_blank">AlzNav</a>, using both <i>turn-by-turn</i> and <i>landmark-based</i> approaches.
			Empirical experiments were conducted on the field to uncover how both approaches affect the mobility and spatial orientation of the elderly, the target audience of the dissertation.
		</p>
		<p>
			You can read my thesis <a href="assets/Master's Thesis.pdf">here</a> or read a 2 page summary <a href="assets/Summary.pdf">here</a>.
		</p>
	</article>

	<article id="contacts">
		<h1>Get in touch</h1>

		<p>
			<%= image_tag 'gmail_logo.png' %> GMail/GTalk: <a href="mailto:diogo.filipe.acastro@gmail.com">diogo.filipe.acastro@gmail.com</a>
			<br/>
			<%= image_tag 'phone_logo.jpg' %> Phone: <a href="callto://+351914424559">+351 91 442 4559</a>
			<br/>
			<%= image_tag 'skype_logo.jpg' %> Skype: <a href="skype:d.f.castro">d.f.castro</a>
			<br/>
			<br/>
			You can also find me on <a href="http://pt.linkedin.com/pub/diogo-castro/46/443/395" target="_blank"><%= image_tag 'linkedin_logo.png' %></a>
		</p>
	</article>
</section>