@import "compass";


.album-cover-container {
	cursor: pointer;
}

#gallery {
	display: table;
	position: fixed;
	left: 0; top: 0;
	visibility: hidden;
	z-index: 20;
	height: 100%;
	width: 100%;
	opacity: 0;
	@include transition-property(opacity, visibility);
	@include transition-duration(.5s, 0s);
	@include transition-delay(0s, .5s);

	background-color: rgba(0,0,0,.75);
	text-align: center;

	#container {
		display: table-cell;
		vertical-align: middle;
	}

	div#holder {
		display: inline-block;
		max-width: 80%;
		position: relative;

		//border
		padding: 5px;
		background: white;
		@include border-radius(10px);

		//size and position
		.previous-container, .next-container {
			display: inline-block;
			position: absolute;
			top: 0;
			height: 100%;
			width: 35%;
			opacity: 0;
			@include transition(opacity .25s ease-in-out);
			cursor: pointer;

			.svg-container {
				position: relative;
				height: 20%;
				top: 40%;
				padding: 0 25%; //to keep svg aspect ratio

				img {
					height: 100%;
				}
			}

			.png-container {
				position: relative;
				height: 20%;
				top: 40%;

				img {
					max-height: 100%;
				}
			}

			.next img {
				position: absolute;
				right: 10%; top: 0;
			}
			.previous img {
				position: absolute;
				left: 10%; top: 0;
			}

			&:hover {
				opacity:1;
			}
		}

		.previous-container {
			left: 0;
			@include border-top-left-radius(10px);
			@include border-bottom-left-radius(10px);
			@include background-image(linear-gradient(left, rgba(0,0,0,0.35) 1%, rgba(0,0,0,0.35) 64%, rgba(0,0,0,0) 100%));
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		}

		.next-container {
			right: 0;
			@include border-top-right-radius(10px);
			@include border-bottom-right-radius(10px);
			@include background-image(linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 36%,rgba(0,0,0,0.35) 100%));
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=1 ); /* IE6-9 */
		}

	}

	div[data-picture] img {
		//width: 800px;
		max-width: 100%;

		@include border-radius(10px);
	}

	&.open {
		opacity: 1;
		visibility: visible;
		@include transition-delay(0s);
	}

	span {
		position: absolute;
		right: -8px; top: -8px;
		z-index: 21;

		display: block;
		height: 15px; width: 15px;

		padding: 5px;
		border: 3px solid;
		@include border-radius(50%);
		
		border-color: white;
		background: black;
		color: white;

		cursor: pointer;
	}
}


html:not(.touch) {
	.album-cover-container {
		text-align: center;

		> div {
			overflow: hidden;
			display: inline-block;
			position: relative;
			width: 100%;
		}

		.mask {
			background-color: black;
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			text-align: center;

			opacity: 0;
			@include transition(opacity .25s ease-in-out);

			h1,p {
				text-align: center;
				color: white;
				position: relative;
				top: 35%;
				opacity: 0;
				@include scale(10);
				@include transition-property(transform, opacity);
				@include transition-duration(.25s, .25s);
			}

			h1 {
				font-size: 100%;
				padding-bottom: 5px;
				border-bottom: 1px solid white;
				margin: 0 15%;
			}

			p {
				padding: 0 5%;
			}

			&:hover {
				opacity: .7;
				h1,p {
					@include scale(1);
					opacity: 1;
				}

				p {
					@include transition-delay(.2s);
				}
			}
		}
	}
}

//remove border when tapping touch screen devices
*:active, *:focus {
  -webkit-tap-highlight-color: rgba(0,0,0, 0);
  -moz-tap-highlight-color: rgba(0,0,0, 0);
  tap-highlight-color: rgba(0,0,0, 0);
  //-webkit-user-modify: read-write-plaintext-only;
}