@import "compass";

$header-height: 80px;
$menu-button-width: 50px;
$text-color: #717171;


@mixin clearfix {
	overflow: auto;
}

/* reset */
h1 {
	margin: 20px 0;
	font-size: 2em;
	font-weight: bold;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 140%;
	text-align:justify;
	text-justify:inter-word;
}

strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

/* end reset */


body {
	background: #C5CCD3 url(bg.png) repeat;
}

div#page {
	font-family: arial, sans-serif;
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	border: 1px solid #576675;
	background-color: white;
}	
	
#header{
	
	@include background-image(linear-gradient(color-stops(rgba(181,181,181,0.9), rgba(200,200,200,0.9) 84%, rgba(204,204,204,0) 100%)));
	border-top: 1px solid #576675;;
	
	position: fixed;
	top: 0;
	height: $header-height;
	
	width: 90%;
	max-width: 960px;
	z-index: 1;

	h1 {
		margin-left: 30px;
	}
	
	> * {
		float: left;
	}
}

nav {
	position: fixed;
	float: right;
	width: 90%;
	max-width: 960px;
	text-align: right;
	z-index: 2;

	ul {
		list-style: none;
		margin-top: 30px;
		
		li {
			display: inline-block;
			margin-right: 30px;
			position: relative;

			&:hover ul {
					opacity: 1;
					top: 0px;

					@include transition-delay(0s);
			}
		}
		
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: black;
			font-weight: bold;
			
			&:hover {
				border-bottom: 1px solid;
			}
		}

		ul {
			margin: 0;
			padding-top: 30px;
			opacity: 0;
			position: absolute;
			display: block;
			width: 150px;
			text-align: left;
			z-index: -1;
			
			//hide
			top: -99999px;

			@include transition-property(opacity, top);
			@include transition-duration(.25s, 0s);
			@include transition-delay(0s, .25s);

			li {
				display: block;
				position: relative;
		    	left: 0;
		    	@include transition(left .25s ease-in-out);

		    	&:hover {
		    		left: 10px;
		    	}
			}

			a {
				text-transform: none;
				font-size: 80%;
			}
		}
	}
}

article {
	padding: $header-height 30px 0px 30px;
	color: $text-color;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	@include clearfix;

	h1 {
		color: #393939;
		margin-top: 10px;
	}

	div.photo-container {
		float: left;
		margin-right: 30px;

		img {
			width: 310px;
			padding: 5px;
			border: 1px solid #CCC;	
		}
	}

	a:not(.anchorLink) {
		text-decoration: none;
		background-color: #E2E2E2;
		color: $text-color;
	}

	a.anchorLink {

	}

	&#contacts {
		padding-bottom: $header-height;

		img {
			height: 20px;
		}
	}

	&#projects {
		ul {
		    margin: 0.75em 0;
		    padding: 0 1em;
		    list-style: none;


		    li {
		    	margin-left: 10px;
		    	position: relative;
		    	left: 0;
		    	@include transition(left .25s ease-in-out);

		    	&:hover {
		    		left: 10px;

		    		a {
		    			color: #0088cc;
		    		}
		    	}

		    	a {
		    		text-decoration: none;
		    		color: $text-color;
		    	}

		    	&:before { 
				    content: "";
				    border-color: transparent #111;
				    border-style: solid;
				    border-width: 0.35em 0 0.35em 0.45em;
				    display: block;
				    height: 0;
				    width: 0;
				    left: -1em;
				    top: 0.9em;
				    position: relative;
				}
		    }
		}
	}

	p {
		clear: right;
	}

	.button {
		display: none;
		position:relative;
		float: right;
		margin-bottom: 20px;

		background:#000000 url(button.png) repeat-x;
		padding:5px 10px 6px;
		color:#fff;
		@include border-radius(5px);
		@include box-shadow(0 1px 3px rgba(0,0,0,0.5));
		@include text-shadow(0 -1px 1px rgba(0,0,0,0.25));
		border-bottom:1px solid rgba(0,0,0,0.25);

		cursor:pointer;
		font-size:13px;
		font-weight:bold;

		&:hover {
			background-color:#111;
		}

		&:active {
			top: 1px;
		}
	}

	.readmore-content {
		clear: both;
	}


	&.project {
		> div {
			width: 60%;
			float: left;
		}

		div.album-cover-container {
			float: right;
			margin-left: 30px;
			width: 35%;

			> div {
				padding: 5px;
				border: 1px solid #CCC;
			}

			img {
				width: 100%;
			}
		}
	}
}




/* hide mobile stuff */
#menu-button{
	display: none;
}


@media screen and (max-width: 800px) {

	/*enlarge the page*/
	div#page {
		margin: 0 0;
		max-width: 100%;
		width: 100%;
		border: 0;
	}


	body {
		background: none;
	}
	
	#content{
		position: relative;
		background: white;
		@include translate3d(0,0,0);
		@include transition(transform .25s linear);
		z-index: 3;
	}

	header#header {
		position: fixed;
		width: 100%;
		text-align: center;
		@include translate3d(0,0,0);
		@include transition(transform .25s linear);
		z-index: 4;
		
		
		
		#menu-button {
			display: inline;
			font-size: 2em;
			margin: 20px 0;
			cursor: pointer;
			width: $menu-button-width;
			
			position: absolute;
			left: 0;
		}
		
		h1 {
			float: none;
			margin: 20px 0;
		}
	}

	nav {
		position: fixed;
		height: 100%;
		z-index: 2;
		
		background: #1E1E1E url('../img/nav-bg.png') repeat-x;
		
		> ul {
			float: left;
			margin-left: 20px;
			
			li {
				text-align: left;
				display: block;
				margin: 0 0 20px 0;
				
				a {
					color: white;
				}
			}

			ul {
				margin: 10px 0 0 10px;
				padding: 0;
				display: block;
				position: static;
				opacity: 1;

				li  {
					margin: 0 0 5px 0;
					position: static;

					&:hover a { color: lighten($text-color,20%); }

					a {
						color: lighten($text-color,20%);
					}
				}
			}
		}
	}
		
	html.menu-open {
			overflow-x:hidden;
			overflow:hidden;

			body {
				overflow-x:hidden;
				overflow:hidden;
			}
	
		header#header, #content {
			-webkit-backface-visibility: hidden;
				-webkit-perspective: 1000;
			@include translate3d(250px,0,0);
		}
	}

	article {
		padding: $header-height 15px 0 15px;

		&:last-of-type {
			padding-bottom: $header-height;
		}

		div.photo-container, &.project div.album-cover-container {
			margin: 0 15% 0 15%;
			float: none;
			width: auto;

			img {
				width: 310px;
				max-width: 100%;
				margin: 0 auto;
				display: block;
			}
		}

		&.project {
			div {
				width: auto !important;
				float: none;
			}
		}
	}

}
