<!DOCTYPE html>
<html>
<head>
  <title>Diogo Castro</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="page">
		<header id="header">			
			<div id="menu-button">
				<%= image_tag 'icon-menu.svg' %>
			</div>
			<h1>
				Diogo Castro
			</h1>
		</header>

		<nav id="main-nav">
			<ul>
				<li><a class="anchorLink" href="#home">Home</a></li>
				<li><a class="anchorLink" href="#about">About me</a></li>
				<li><a class="anchorLink" href="#education">Education</a></li>
				<li>
					<a class="anchorLink" href="#projects"/>Projects</a>
					<ul>
						<li><a class="anchorLink" href="#projects-mywine">myWine</a></li>
						<li><a class="anchorLink" href="#projects-metro-tasks">MetroTasks</a></li>
						<li><a class="anchorLink" href="#projects-thesis">Master's Thesis</a></li>
					</ul>
				</li>
				<li><a class="anchorLink" href="#contacts">Get in touch</a></li>
					
			</ul>
		</nav>
			
		<%= yield %>
	</div>
</body>
</html>
